/*通用样式*/
div{
	display: inline-block;
	}
ul{
	padding: 0px;
	margin: 0px;
	width:1025px;
	margin:auto;
	}
li{
	list-style-type:none;				
	}
h2{
	margin-left:585px;
	}

h5,h3{
	padding: 0px;
	margin: 0px;
	}
/*H5溢出隐藏文字*/
h5{
	display:inline;
}
/*第一行*/
.header_div{
	border:1px solid #B0C4DE;
}
/*第一个单元格*/
.firster_div{
	line-height: 47px;
	padding: 0 5px;
}

/*全选*/
.all_checkbox{
	line-height: 47px;
	padding: 0px;
	text-align: center;
	border-right:1px solid #B0C4DE;
	width: 58px;
}
/*排序按钮*/
.Ascending , .Descending{
	background-color:#A0522D;
	color:#fff;
	height:30px;
	border-radius: 5px;
	border:none;
}
/*全部删除按钮*/
.All_del{
	background-color:#e33845;
	color:#fff;
	height:30px;
	margin:0 252px;
	border-radius: 5px;
	border:none;
}
/*搜索框*/
.search{
	height: 30px;
    width: 200px;
    border-radius: 5px;
    outline:none;
    border: 1px solid #D8BFD8;
    margin-right: 4px;
}
/*搜索按钮*/
.search_btn{
	background-color:orange;
	color:#fff;
	height:30px;
	border-radius: 5px;
	border:none;
	margin:0 15px;
}
/*时间-操作栏标题单元格*/
.title_div{
	border:1px solid #B0C4DE;
	border-top:0px;
}
/*表头时间单元格*/
.add_time{
	width: 160px;	
	padding:0 20px;
	line-height: 47px;
	text-align: center;
	border-right:1px solid #B0C4DE;
	border-left:1px solid #B0C4DE;
}

/*表头编号-地址单元格*/
.add_div{
	width: 78px;	
	padding:0 20px;
	line-height: 47px;
	border-right:1px solid #B0C4DE;
	overflow:hidden;
	text-align:center;
	text-overflow: ellipsis;
	white-space:nowrap;
	vertical-align:bottom;
}
/*表头操作单元格*/
.add_operation{
	width: 80px;	
	padding:0 20px;
	line-height: 47px;
	text-align: center;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	vertical-align:bottom;
}
/*复选框*/
.checkbox{
	width: 50px;
	line-height: 47px;
	text-align: center;
}
/*新增数据*/
.New_data{
	border:1px solid #B0C4DE;
	border-top:0px;
}
.New_data>h1{
	margin:20px 335px;
	width: 353px;
	text-align:center;
}
/*输入表部分*/
.add_number,.add_name,.add_password,.add_birthday,.add_address{
	border:1px solid #B0C4DE;
}
.add_number,.add_password{
	border-bottom: 0px;
	border-top:0px;
}
.add_birthday{
	border-bottom: 0px;
}
/*输入表标题部分*/
.title_number,.title_name,.title_password,.title_birthday,.title_address{
	width: 80px;
	text-align: center;
	border-right:1px solid #B0C4DE;
	padding: 15px;
}
/*输入框*/
.number_input,.name_input,.password_input,.birthday_input,.address_input{
	width: 750px;
	outline:none;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    height: 25px;
    margin:0 10px;
}
/*底部按钮栏*/
.button_bar{
	border:1px solid #B0C4DE;
	border-top:0px;
	padding: 10px;
	text-align: center;
}
/*重置按钮*/
.reset_button{
	background-color:#307ab9;
	color:#fff;
	height:30px;
	border-radius: 5px;
	border:none;
}
/*添加按钮*/
.add_button{
	background-color:#00a94a;
	color:#fff;
	height:30px;
	border-radius: 5px;
	border:none;
}
/*更新按钮*/
.update_button{
	background-color:#29c4e4;
	color:#fff;
	height:30px;
	border-radius: 5px;
	border:none;
}
/*单元格删除按钮*/
.delcell_btn{
	background-color:#e33845;
	color:#fff;
	height:30px;
	border-radius: 5px;
	border:none;
}
/*单元格修改按钮*/
.modify_btn{
	background-color:#31c1dc;
	color:#fff;
	height:30px;
	border-radius:5px;
	border:none;
}
/*删除按钮单元格*/
.delbutton_div{
	margin-right:10px;
}

